.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100vh;  */
  width: 100%; 
  /* max-width: 500px; */
  /* border: 1px solid mediumblue; */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

header{
  width: 100%;
  background-color: mediumblue;
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  z-index: 200;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  /* overflow-y: auto; */
}

.title {
  background-color: mediumblue;
  color: white;
  padding: 0px 10px;
}

.item-title{
  margin: 10px;
}

.footer{
  width: 100%;
  background-color: mediumblue;
  color: aliceblue;
  display: grid;
  place-content: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 60px;
  z-index: 100;
}

.footer-text {
  /* position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: mediumblue;
  color: white; */
  /* text-align: center; */
  padding: 0px 10px;
  font-size: 18px;
}

ul {
  list-style: none;
  width: 100%;
  padding: 5px 0px;
  margin: 0;
}

.items {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 4px 4px;
  margin: 15px;
}

.items input[type="checkbox"] {
  text-align: center;
  width: 2.5rem;
  width: 28px;
  height: 2.5rem;
  height: 28px;
  cursor: pointer;
  margin-right: 20px;
}

.items input[type="checkbox"]:checked+label {
  text-decoration: line-through;
}

.items>label {
  width: 100%;
  font-size: 20px;
}

.items svg {
  width: 28px;
  height: 28px;
  font-size: 1rem;
  color: steelblue;
  cursor: pointer;
  padding-right: 20px;
}

.items svg:focus,
.items svg:hover {
  color: red;
  outline: none;
}

.item-form{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-top: 75px;
  padding: 0 0.5rem 0.25rem;
  border-bottom: 1px solid #eee;
  
}

.item-form label {
  position: absolute;
  left: -99999px;
}

.item-form input[type='text'] {
  flex-grow: 1;
  /* max-width: calc(100% - 50px); */
  min-height: 38px;
  font-size: 1rem;
  padding: 5px 10px;
  border-radius: 0.25rem;
  outline: none;
  margin: 0px 10px;
}

.item-form > button {
  height: 48px;
  width: 48px;
  border-radius: 0.25rem;
  padding: 0.25rem;
  font-size: 1rem;
  background-color: aliceblue;
  color: mediumblue;
  cursor: pointer;
  margin: 0px 20px;
}

.item-form > button:focus, 
.item-form > button:hover {
  color: white;
  background-color: limegreen;
  outline: none;
}

.search-form{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 10px 0;
  border-bottom: 1px solid #eee;
}

.search-form label {
  position: absolute;
  left: -99999px;
}

.search-form input[type='text'] {
  flex-grow: 1;
  max-width: 100%;
  min-height: 38px;
  font-size: 1rem;
  padding: 5px 10px;
  border-radius: 0.25rem;
  outline: none;
  margin: 0px 10px;
}